/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/search/Search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Search_container__Pl4mm {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.Search_input___4DmO {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/pagination/Pag.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.Pag_container__CFYGg {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.Pag_button__zHzgu {
    padding: 5px 10px;
    cursor: pointer;
}

.Pag_button__zHzgu:disabled {
    cursor: not-allowed;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/modal/Modal.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Modal_modalOverlay__GGlrc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal_modalContent__HHNin {
    background: #0f0f0f;
    padding: 40px;
    border-radius: 8px;
    width: 400px;
}

.Modal_modalButtons__O0mwP {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.Modal_modalButtons__O0mwP button {
    cursor: pointer;
}

.Modal_input__Z0G6i {
    padding: 8px;
    margin-top: 8px;
    width: 100%;
    /* border-radius: 4px; */
    border: 4px solid #00eeff;
    color: rgb(217, 255, 0);
    margin-bottom: 5px;
    font-size: 20px;
}
  
.Modal_title__us8CH {
    margin-bottom: 30px;
}

.Modal_btn__XkJrj {
    background-color: #00eeff;
    border: none;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 20px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/dashboard/users/User.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.User_container__Cxv8a {
    background-color: var(--bgObj);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.User_top__wfT7z {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.User_addButton__FpUSo {
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.User_table__hvKdZ {
    width: 100%;
    
}
.User_table__hvKdZ td {
    padding: 10px;
}

.User_user__u2NIr {
    display: flex;
    align-items: center;
    gap: 10px;
}

.User_userImage__CjmMQ {
    border-radius: 100%;
    object-fit: cover;
}

.User_buttons__KWg1a {
    display: flex;
    gap: 10px;
}

.User_button__7GKSU {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    cursor: pointer;
    border: none;
}

.User_view__4KWgr {
    background-color: teal;
}

.User_delete__th1F0 {
    background-color: crimson;
}
